@font-face {
    font-family: 'Nexa-Black-Italic';
    src: url('Nexa-Black-Italic.eot');
    src: url('https://raw.githubusercontent.com/anismechri/nexa-font/master/Nexa-Black-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://raw.githubusercontent.com/anismechri/nexa-font/master/Nexa-Black-Italic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/anismechri/nexa-font/master/Nexa-Black-Italic.woff') format('woff'),
        url('https://raw.githubusercontent.com/anismechri/nexa-font/master/Nexa-Black-Italic.ttf') format('truetype'),
        url('https://raw.githubusercontent.com/anismechri/nexa-font/master/Nexa-Black-Italic.svg#Nexa-Black-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
